.user-div {
	line-height: 0;
	margin-top: 3px;

	.user-avatar {
	    max-width: 33px;
	    max-height: 33px;
	    width: 100%;
	    height: 100%;
	    border-radius: 50%;
	}

	.user-info {
		display: inline-block;

		.user-profile-name {

		}

		.user-username {
			font-size: 0.75em;
			margin-top: 17px;
			text-align: left;
		}
	}


}

.item h2, p {
 	white-space: initial !important;
}

.item p {
	height: 3em;
}

.message-footer {
	height: 3em;
}

.post-msg-textarea {
	resize: none;
	width: 100%;
	color: white;
	background-color: $positive;
	padding: 0.5em;
}

// white color placeholder
.post-msg-textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}

.tab-item-active .tab-title {
  color: $positive !important;
  font-weight: 600;
}

// custom nav color for viewing someone elses profile
.custom {
	color: red;
}
