<ion-view>
  <ion-nav-title>
    Claim Your Page
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home" ng-click="vm.goHome()"></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="card">
      <div class="item item-divider text-center">
        Are you {{ vm.identifier(vm.user) }}?
      </div>
      <div class="item item-text-wrap" ng-if="vm.ready && !vm.signedIn()">
        <header>The Public page for {{ vm.identifier(vm.user) }} is currently unclaimed.</header>

        <span>If you are sure that this page represents your own identity and would like to moderate your own page, follow these steps to submit a <strong>Page Identity Request</strong> to Public:</span>

        <ion-list>
          <ion-item>
            <i class="ion-checkmark-circled"></i>
            First, sign up for a separate account that you control (if you don't already have one).
          </ion-item>
          <ion-item>
            <i class="ion-checkmark-circled"></i>
            After you've signed up (or signed in), you will be shown a Page Identity Request form with a few short questions. Fill out and submit this form.
          </ion-item>
          <ion-item>
            <i class="ion-checkmark-circled"></i>
            Wait for a response. Most Page Identity Requests can be reviewed and approved by Public within 1 day. If we need more information to make a decision, we'll let you know via email.
          </ion-item>
        </ion-list>

      </div>

      <div class="item item-text-wrap" ng-if="vm.ready && vm.signedIn()">
        <header>The Public page for {{ vm.identifier(vm.user) }} is currently unclaimed.</header>

        <span>If you are sure that this page represents your own identity and would like to moderate your own page, please fill out and submit the following form:</span>

      </div>

      <div class="item item-divider text-center">
        Ready to proceed?
      </div>
    </div>

    <div class="text-center" ng-if="vm.ready && !vm.signedIn()">
      <button ui-sref="app.claimPage.signedIn({id: vm.user.id})" class="button button-stable">Sign In</button>

      <button ui-sref="app.claimPage.signedIn({id: vm.user.id, viaSignUp: true})" class="button button-positive">Sign Up</button>
    </div>

    <div ng-if="vm.ready && vm.signedIn()">
      <h3 class="text-center">Page Identity Request Form</h3>
        <form role="form" name="vm.form" ng-submit='vm.submitRequest()'>
          <div>
            <label class="item item-input item-floating-label">
              <span class="input-label">Reason for Claim</span>
              <textarea name="reason"
                     ng-model="vm.request.reason"
                     class="form-control"
                     placeholder="In no more than 30 words, tell us why you think this page represents you and not someone else."
                     ng-required="true">
              </textarea>
            </label>
            <label class="item item-input item-stacked-label">
              <p>How sure are you that the the person represented by this page is you and not another person with the same name as you?
              </p>
              <ion-list>
                <ion-radio ng-model="vm.request.certainty" ng-value="'not sure'">I'm not sure.</ion-radio>
                <ion-radio ng-model="vm.request.certainty" ng-value="'probably'">It's probably me.</ion-radio>
                <ion-radio ng-model="vm.request.certainty" ng-value="'sure'">I'm sure it's me.</ion-radio>
              </ion-list>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Email Address</span>
              <input type="email"
                     name="email"
                     ng-model="vm.request.email"
                     class="form-control"
                     placeholder="Your email"
                     required>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Phone number</span>
              <input type="tel"
                     name="phone"
                     ng-model="vm.request.phone"
                     class="form-control"
                     placeholder="Your phone">
            </label>
          </div>
          <button type="submit"
            class='button button-block button-positive'
            ng-disabled="vm.form.$invalid"
            style="width:90%;margin:1em auto;">
            Submit Your Page Identity Request
          </button>
        </form>
    </div>

  </ion-content>
</ion-vview>