<ion-view title="Settings">
  <ion-nav-title>
    Settings
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home" ng-click="vm.goHome()"></button>
  </ion-nav-buttons>

  <ion-content>
    <form name="form" ng-submit='vm.updateSettings(form)' novalidate>

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text"
                 name="name"
                 ng-model="vm.user.name"
                 placeholder="Name"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text"
                 name="username"
                 ng-model="vm.user.username"
                 placeholder="Username"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile</span>
          <input type="tel"
                 name="phone"
                 ng-model="vm.user.phone"
                 placeholder="Mobile">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email"
                 name="email"
                 ng-model="vm.user.email"
                 placeholder="Email"
                 required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Sign In Type</span>
          <input type="text"
                 ng-model="vm.user.signInType"
                 ng-disabled="true">
        </label>
        <label class="item item-input item-floating-label" ng-show="vm.usesPasswordAuth()">
          <span class="input-label">Current Password</span>
           <input type="password"
                  name="currentPassword"
                  ng-model="vm.currentPassword"
                  placeholder="To change password, enter current password">
        </label>
        <label class="item item-input item-floating-label" ng-show="vm.usesPasswordAuth()">
          <span class="input-label">New Password</span>
           <input type="password"
                  name="newPassword"
                  ng-model="vm.newPassword"
                  placeholder="New Password (optional)">
        </label>
        <label class="item item-input item-floating-label" ng-show="vm.usesPasswordAuth()">
          <span class="input-label">Confirm New Password</span>
           <input type="password"
                  name="newPasswordConfirmation"
                  ng-model="vm.newPasswordConfirmation"
                  placeholder="Confirm New Password"
                  compare-to="vm.newPassword">
        </label>
      </div>

      <hr>

      <button class="button button-block button-positive"
              style="width:90%;margin:1em auto;" ng-disabled="form.$invalid || !form.$dirty">Update</button>

    </form>
  </ion-content>
</ion-view>