// Popup
$popup-bg: #fcfcfc;

// Welcome
$auth-big-btn-bg: #FFF;
$auth-small-btn-color: #FFF;
$facebook-blue: #294886;
$google-red: #dd4c39;
$twitter-blue: #00a3dc;
$welcome-color: #FFFFFF;

// Auth
$auth-color: #333333;
$auth-field-bg: #e3e4e6;
$auth-btn-bg: #4587c3;
$auth-btn-color: #FFFFFF;
$error-color: #ff5a60;
