<ion-view>
  <ion-nav-title>
    About Public
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home" ng-click="vm.goHome()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>We're in stealth-mode right now, so we can't say much, except thank you very much for participating in our private beta program.</p>
        <br>
        <p>Please send your questions and feedback to <a href="mailto://team@getpublic.co">team@getpublic.co</a> .</p>
        <br>
        <button ng-if="vm.signedInUser() && vm.signedInUser().admin" class="button button-assertive" ng-click="vm.confirmAndReSeedDatabase()">Reseed Database</button>
      </div>
    </div>

  </ion-content>
</ion-view>