<div class="row auth-content-outer">
  <div class="col">
    <div class="row form-wrapper">
      <div class="col">
        <form role="form" name="vm.form" ng-submit='vm.signInWithEmail()'>
          <div class="list">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="email"
                       name="email"
                       ng-model="vm.email"
                       class="form-control"
                       placeholder="Your email"
                       focus-me
                       required>
              </label>
            </div>
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                <input id="password-field"
                  type="password"
                  name="password"
                  ng-model="vm.password"
                  class="form-control"
                  placeholder="Enter your password"
                  required>
              </label>
            </div>
            <p style="color:red">{{ vm.errorMessage }}</p>
            <div class="text-center">
              <button class="button button-positive" ng-disabled="false">
                Sign In
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
