<div class="row auth-content-outer">
  <div class="col">
    <div class="row form-wrapper">
      <div class="col">
        <div class="list">
          <div class="item" style="padding: 0px;">
            <a class="google-sign-in button button-block" ng-click="vm.signIn('google')">
              <i class="icon ion-social-google"></i>
              Google
            </a>
          </div>
          <div class="item" style="padding: 0px;">
            <a class="google-sign-in button button-block" ng-click="vm.signIn('facebook')">
              <i class="icon ion-social-facebook"></i>
              Facebook
            </a>
          </div>
          <div class="item" style="padding: 0px;">
            <a class="google-sign-in button button-block" ng-click="vm.showEmailSignUpPopup()">
              <i class="icon ion-email"></i>
              Email Address
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
