<ion-view title="Sign Up">
  <ion-content>

    <form role="form" name="vm.form" ng-submit='vm.signUp()'>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input name="name"
                 type="text"
                 ng-model="vm.name"
                 class="form-control"
                 placeholder="Your name"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text"
                 name="username"
                 ng-model="vm.username"
                 ng-minlength="2"
                 class="form-control"
                 placeholder="Your username"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile</span>
          <input type="tel"
                 name="phone"
                 ng-model="vm.phone"
                 class="form-control"
                 placeholder="Your mobile"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email"
                 name="email"
                 ng-model="vm.email"
                 class="form-control"
                 placeholder="Your email"
                 required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
           <input type="password"
                 name="password"
                 ng-model="vm.password"
                 class="form-control"
                 placeholder="Password"
                 required>
        </label>
      </div>

      <hr>

      <button type="submit"
              class='button button-block button-positive'
              ng-disabled="form.$invalid"
              style="width:90%;margin:1em auto;">Sign up</button>

      <p class="text-center">Already have an account? <a href="#/sign-in">Sign in</a></p>

    </form>

  </ion-content>
</ion-view>