<ion-view>
  <ion-nav-title>
    <div class="user-div">
      <img class="user-avatar" ng-src="{{ vm.user().profile.face }}">
      <span class="user-profile-name">{{ vm.user().profile.name }}</span>
      <p class="user-username">{{ vm.user().username }}</p>
    </div>
  </ion-nav-title>
  <ion-pane>
    <ion-tabs class="tabs-top bar-positive">

      <ion-tab id="feed-tab" title="Newsfeed" ng-if="vm.viewingOwnPage()">
        <ion-nav-view name="feed">
          <ion-content>

            <ion-list ng-repeat="post in vm.posts | orderBy: '-createdAt'">
              <div class="item item-avatar" ng-click="vm.showPost(post)">
                <img src="{{ vm.author(post).profile.face }}">
                <div>
                  <h2 ng-if="post.authorUserId == post.subjectUserId">
                    <strong>{{ vm.author(post).profile.name }}</strong> said <span class="post-createdAt">{{ vm.createdAtRelative(post) }}</span>
                  </h2>
                  <h2 ng-if="post.authorUserId != post.subjectUserId">
                    <strong>{{ vm.author(post).profile.name }}</strong> said to <strong>{{ vm.subject(post).profile.name || vm.subject(post).username }}</strong> <span class="post-createdAt">{{ vm.createdAtRelative(post) }}</span>
                  </h2>
                  <p>
                    <em>{{ post.text }}</em>
                  </p>
                </div>
              </div>

            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="messages-tab" title="{{ vm.viewingOwnPage() ? 'Your Messages' : 'Messages' }}" ng-if="true">
        <ion-nav-view name="messages">
          <ion-content>
            <ion-list ng-repeat="post in vm.posts | orderBy: '-createdAt'">
              <div class="item item-avatar" ng-click="vm.showPost(post)">
                <img src="{{ vm.author(post).profile.face }}">
                <h2><strong>{{ vm.author(post).profile.name }}</strong> said <span class="post-createdAt">{{ vm.createdAtRelative(post) }}</span></h2>
                <p><em>{{ post.text }}</em></p>
              </div>

            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="listeners-tab" title="Listeners" ng-if="true">
        <ion-nav-view name="listeners">
          <ion-content>
            <ion-list ng-repeat="listener in vm.listeners | orderBy: '-createdAt'">

              <div class="item item-avatar item-button-right" ng-click="vm.showProfile(listener)">
                <img src="{{ listener.profile.face }}">
                <h2><strong>{{ listener.profile.name }}</strong></h2>
                <h2>{{ listener.username }}</h2>
                <p><em>{{ vm.taglineOrMostRecentPost(listener) }}</em></p>

                <button class="button button-positive"
                    ng-click="vm.toggleListening(listener, $event)"
                    ng-show="!vm.listeningTo(listener)">Listen</button>

                <button class="button button-energized"
                    ng-click="vm.toggleListening(listener, $event)"
                    ng-show="vm.listeningTo(listener)">Unlisten</button>

              </div>

            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-pane>
</ion-view>