<ion-view>
  <ion-nav-bar class="{{ vm.viewingOwnProfile() ? 'bar-royal' : 'bar-positive' }}">
    <ion-nav-title>
      <div class="user-div">
        <img class="user-avatar" ng-src="{{ vm.user.face }}">
        <div class="user-info">
          <span class="user-profile-name" ng-class="{ 'custom': viewingOwnProfile() }">{{ vm.user.name }}</span>
          <p class="user-username">{{ vm.user.username }}</p>

        </div>

        <a style="font-size: 0.75em; padding: 2px;"
          ui-sref="app.claimPage({id: vm.user.id})"
          ng-if="!vm.claimed(vm.user)">Is this you?</a>

        <button style="width: 60px; font-size: 0.75em; padding: 2px;" class="button"
                ng-class="vm.isListeningTo(vm.user) ? 'button-energized' : 'button-calm'"
                ng-click="vm.toggleListeningTo(vm.user, $event)"
                ng-if="vm.signedIn() && !vm.viewingOwnProfile()">{{ vm.isListeningTo(vm.user) ? 'Unlisten' : 'Listen' }}</button>

      </div>

    </ion-nav-title>
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <button class="button button-icon button-clear ion-person-stalker"  ui-sref="app.people.search"
            ng-if="vm.viewingOwnProfile()"></button> -->

    <button class="button button-icon button-clear ion-home" ng-click="vm.goHome()" ng-show="!vm.viewingOwnProfile()"></button>
  </ion-nav-buttons>
  <ion-pane>

    <ion-tabs class="tabs-top profile-tabs">

      <ion-tab id="feed-tab" icon-on="icon ion-ios-paper" icon-off="icon ion-ios-paper-outline" title="Newsfeed" ng-if="vm.viewingOwnProfile()" ui-sref="app.profile.feed">
        <ion-nav-view name="feed">
          <ion-content>
            <ion-list ng-repeat="message in vm.user.feedMessages">
              <div class="item item-profile-message item-avatar" ng-click="vm.showMessageViaFeed(message, $event)">
                <img ng-src="{{ message.author.face }}">
                <div>
                  <h2>
                    <strong>{{ vm.primaryName(message.author)}}</strong><span class="weak">{{ vm.paddedSecondaryName(message.author) }}</span> said
                    <br>
                    <span ng-if="message.author.id != message.subject.id">
                      to <strong>{{ vm.primaryName(message.subject)}}</strong><span class="weak">{{ vm.paddedSecondaryName(message.subject)}}</span>
                    </span>
                    <span class="message-created-at" am-time-ago="message.createdAt"></span>
                  </h2>
                  <p>
                    <em>{{ message.text | limitTo: 125 }}</em><span ng-if="vm.textWithoutProfileLinks(message).length >= 125">...</span>
                  </p>
                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="messages-tab" icon-on="ion-clipboard" icon-off="ion-clipboard" title="{{ vm.viewingOwnProfile() ? 'Your Messages' : 'Messages' }}" ng-if="true" ui-sref="app.profile.messages">
        <ion-nav-view name="messages">
          <ion-content>
            <ion-list ng-repeat="message in vm.user.profileMessages">
              <div class="item item-profile-message item-avatar" ng-click="vm.showMessageViaProfile(message, $event)">
                <img ng-src="{{ message.author.face }}">
                <div>
                  <h2>
                    <strong>{{ vm.primaryName(message.author)}}</strong><span class="weak">{{ vm.paddedSecondaryName(message.author) }}</span> said
                    <br>
                    <span ng-if="message.author.id != message.subject.id">
                      to <strong>{{ vm.primaryName(message.subject)}}</strong><span class="weak">{{ vm.paddedSecondaryName(message.subject)}}</span>
                    </span>
                    <span class="message-created-at" am-time-ago="message.createdAt"></span>
                  </h2>
                  <p>
                    <em>{{ message.text | limitTo: 125 }}</em><span ng-if="vm.textWithoutProfileLinks(message).length > 125">...</span>
                  </p>
                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="listeners-tab" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" title="Listeners" ng-if="true" ui-sref="app.profile.listeners">
        <ion-nav-view name="listeners">
          <ion-content>
            <ion-list ng-repeat="listener in vm.user.listeners | orderBy: '-addedAt'">
              <div class="item item-avatar item-button-right" ui-sref="app.profile({id: listener.id})">
                <img ng-src="{{ listener.face }}">
                <h2>{{ listener.name }}</h2>
                <h2>{{ listener.username }}</h2>

                <button class="button activated"
                        ng-class="vm.isListeningTo(listener) ? 'button-energized' : 'button-calm'"
                        ng-click="vm.toggleListeningTo(listener, $event)"
                        ng-if="vm.signedIn() && listener.id != vm.signedInUserId()">{{vm.isListeningTo(listener) ? "Unlisten" : "Listen"}}</button>
              </div>

            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-pane>

  <ion-footer-bar align-title="left" class="message-footer" style="background-color:#CECECE">
    <textarea id="message-textarea" class="message-textarea" type="text" ng-model="vm.newMessage" placeholder="Say something {{ vm.viewingOwnProfile() ? '' : 'to ' + vm.user.name + ' ' }}in Public"></textarea>
    <div class="buttons">
      <button class="button button-light"
              ng-click="vm.startSendingMessage($event)">Send</button>
    </div>
  </ion-footer-bar>

</ion-view>