<ion-view>
  <ion-nav-title>
    <div class="user-div">
      <img class="user-avatar" ng-src="{{ vm.user.face }}">
      <div class="user-info">
        <span class="user-profile-name" ng-class="{ 'custom': viewingOwnProfile() }">{{ vm.user.name }}</span>
        <p class="user-username">{{ vm.user.username }}</p>
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-person-stalker" ui-sref="app.people"></button>
    <button class="button button-icon button-clear ion-home" ui-sref="app.profile.feed({id:vm.signedInUserId()})" ng-show="!vm.viewingOwnProfile()"></button>
  </ion-nav-buttons>
  <ion-pane>
    <ion-tabs class="tabs-top profile-tabs">

      <ion-tab id="feed-tab" title="Newsfeed" ng-if="vm.viewingOwnProfile()" ui-sref="app.profile.feed">
        <ion-nav-view name="feed">
          <ion-content>
            <ion-list ng-repeat="message in vm.user.feedMessages | orderBy: '-createdAt'">
              <div class="item item-avatar" ng-click="vm.showMessageViaFeed(message, $event)">
                <img ng-src="{{ message.author.face }}">
                <div>
                  <h2>
                    <strong>{{ message.author.name }}</strong> said
                    <br>
                    <span ng-if="message.author.userId != message.subjectUserId">
                      to <strong>{{ message.subject.name || message.subject.username }}</strong>
                    </span>
                    <span class="message-created-at" am-time-ago="message.createdAt"></span>
                  </h2>
                  <p>
                    <em>{{ vm.textWithoutProfileLinks(message) | limitTo: 80 }}...</em>
                  </p>
                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="messages-tab" title="{{ vm.viewingOwnProfile() ? 'Your Messages' : 'Messages' }}" ng-if="true" ui-sref="app.profile.messages">
        <ion-nav-view name="messages">
          <ion-content>
            <ion-list ng-repeat="message in vm.user.profileMessages | orderBy: '-createdAt'">
              <div class="item item-avatar" ng-click="vm.showMessageViaProfile(message, $event)">
                <img ng-src="{{ message.author.face }}">
                <div>
                  <h2>
                    <strong>{{ message.author.name }}</strong> said
                    <br>
                    <span ng-if="message.author.userId != message.subjectUserId">
                      to <strong>{{ message.subject.name || message.subject.username }}</strong>
                    </span>
                    <span class="message-created-at" am-time-ago="message.createdAt"></span>
                  </h2>
                  <p>
                    <em>{{ vm.textWithoutProfileLinks(message) | limitTo: 80 }}...</em>
                  </p>
                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="listeners-tab" title="Listeners" ng-if="true" ui-sref="app.profile.listeners">
        <ion-nav-view name="listeners">
          <ion-content>
            <ion-list ng-repeat="listener in vm.listeners | orderBy: '-addedAt'">
                <div class="item item-avatar item-button-right" ng-click="vm.showProfile(listener)">
                <img ng-src="{{ listener.face }}">
                <h2>{{ listener.name }}</h2>
                <h2>{{ listener.username }}</h2>

                <button class="button button-positive"
                    ng-click="vm.startListeningTo(listener, $event)"
                    ng-show="vm.showListenButton(listener)">Listen</button>

                <button class="button button-energized"
                    ng-click="vm.stopListeningTo(listener, $event)"
                    ng-show="vm.showUnlistenButton(listener)">Unlisten</button>
              </div>

            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-pane>

  <ion-footer-bar align-title="left" class="message-footer bar-positive">
    <textarea class="post-msg-textarea" type="text" ng-model="vm.newMessage" placeholder="Say something {{ vm.viewingOwnProfile() ? '' : 'to ' + vm.user.name + ' ' }}in Public"></textarea>
    <div class="buttons">
      <button class="button button-light"
              ng-click="vm.sendMessage()">Send</button>
    </div>
  </ion-footer-bar>

</ion-view>