<ion-view>
  <ion-nav-title>
    People
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home" ui-sref="app.profile">
    </button>
  </ion-nav-buttons>
  <ion-pane>
    <ion-tabs class="tabs-top bar-positive">

      <ion-tab id="contacts-tab" title="Contacts" ng-if="vm.usingDevice()" ui-sref="app.people.contacts">
        <ion-nav-view name="feed">
          <ion-content>
            <div>{{ vm.contacts.length > 0 ? "Select one of the contacts below:" : "You have no contacts" }}</div>


            <ion-list ng-repeat="contact in vm.contacts | orderBy: '-addedAt'">
              <div class="item item-avatar item-button-right" ng-click="vm.showProfileOrOpenAddUserModal(contact)">
                <img ng-src="{{ contact.user ? contact.user.face : '' }}">
                <h2>{{ contact.displayName }}</h2>
                <div ng-if="contact.user">
                  <div>In Public As:</div>
                  <h2>{{ contact.user.name }}</h2>
                  <h2>{{ contact.user.username }}</h2>

                  <button class="button button-positive"
                      ng-click="vm.toggleListening(contact.user, $event)"
                      ng-show="!vm.listeningTo(contact.user)">Listen</button>

                  <button class="button button-energized"
                      ng-click="vm.toggleListening(contact.user, $event)"
                      ng-show="vm.listeningTo(contact.user)">Unlisten</button>

                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-nave>
      </ion-tab>

      <ion-tab id="listenees-tab" title="Listenees" ng-if="true" ui-sref="app.people.listenees">
        <ion-nav-view name="listenees">
          <ion-content>
            <ion-list ng-repeat="listeneeStub in vm.listeneeStubs | orderBy: '-addedAt'">
                <div class="item item-avatar item-button-right" ng-click="vm.showProfile(listeneeStub)">
                <img ng-src="{{ vm.listenee(listeneeStub).face }}">
                <h2>{{ vm.listenee(listeneeStub).name }}</h2>
                <h2>{{ vm.listenee(listeneeStub).username }}</h2>

                <button class="button button-positive"
                    ng-click="vm.toggleListening(listeneeStub, $event)"
                    ng-show="!vm.listeningTo(listeneeStub)">Listen</button>

                <button class="button button-energized"
                    ng-click="vm.toggleListening(listeneeStub, $event)"
                    ng-show="vm.listeningTo(listeneeStub)">Unlisten</button>
              </div>
            </ion-list>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="search-results-tab" title="Search Results" ng-if="vm.showSearchResultsTab" ui-sref="app.people.searchResults">
        <ion-nav-view name="search-results">
          <ion-content>
            <ion-list ng-repeat="user in vm.searchResults | orderBy: '-addedAt'">
                <div class="item item-avatar item-button-right" ng-click="vm.showProfile(user)">
                <img ng-src="{{ user.face }}">
                <h2>{{ user.name }}</h2>
                <h2>{{ user.username }}</h2>

                <button class="button button-positive"
                    ng-click="vm.toggleListening(user, $event)"
                    ng-show="!vm.listeningTo(user)">Listen</button>

                <button class="button button-energized"
                    ng-click="vm.toggleListening(user, $event)"
                    ng-show="vm.listeningTo(user)">Unlisten</button>

              </div>

            </ion-list>

            <div class="text-center" style="margin-top:1em">
              <p ng-if="vm.searchResults.length">None of these users is the one you're looking for?</p>
              <p ng-if="!vm.searchResults.length">No matching users found.</p>
              <button class="button button-positive" ng-click="openModal()">Add User To Public</button>
            </div>

          </ion-content>
        </ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-pane>

  <ion-footer-bar align-title="left" class="message-footer bar-positive">
    <textarea class="search-user-textarea" type="text" ng-model="vm.searchText" placeholder="Search for user in Public"></textarea>
    <div class="buttons">
      <button class="button button-light"
              ng-click="vm.search()"
              ng-disabled="vm.searchText.length === 0">Search</button>
    </div>
  </ion-footer-bar>

</ion-view>

<script id="add-user-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Add New User to Public</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
      <form name="addUser">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="contact.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="contact.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Mobile</span>
          <input type="tel" ng-model="contact.mobile">
        </label>
      </div>

      <button class="button button-full button-positive" ng-click="closeModal()">Add User</button>
      </form>
    </ion-content>
  </div>
</script>