<ion-view>
  <ion-nav-title>
    People
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home" ng-click="vm.goHome()"></button>
  </ion-nav-buttons>
  <ion-pane>

    <ion-tabs class="tabs-top bar-positive {{ ionic.Platform.isWebView() ? '' : 'tabs-item-hide' }}">

      <ion-tab id="search-results-tab" title="Users in Public" ui-sref="app.people.search">
        <ion-nav-view name="search-results">
          <ion-content>

            <form name="vm.searchForm" handle-phone-submit ng-submit="vm.search()">
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Search for someone in Public</span>
                  <input type="text" ng-model="vm.searchText" placeholder="Enter name or username">
                </label>
              </div>
            </form>
            <div class="search-results" ng-if="vm.showSearchResults">
              <ion-list ng-repeat="user in vm.searchResults | orderBy: '-createdAt'">
                <div class="item item-avatar item-button-right" ng-click="vm.showProfile(user)">
                  <img ng-src="{{ user.face }}">
                  <h2>{{ user.name }}</h2>
                  <h2>{{ user.username }}</h2>
                  <button class="button activated"
                    ng-class="vm.isListeningTo(user) ? 'button-energized' : 'button-calm'"
                    ng-click="vm.toggleListeningTo(user, $event)"
                    ng-if="vm.signedIn() && user.id != vm.signedInUserId()">{{vm.isListeningTo(user) ? "Unlisten" : "Listen"}}
                  </button>
                </div>
              </ion-list>

              <div class="text-center" style="margin-top:1em">
                <p ng-if="vm.searchResults.length">None of these users is the one you're looking for?</p>
                <p ng-if="!vm.searchResults.length">No matching users found.</p>
                <button class="button button-positive add-user-button" ng-click="vm.openBlankAddUserModal()">Add User To Public</button>
              </div>
            </div>
`          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <ion-tab id="contacts-tab" title="Contacts" ng-if="vm.usingDevice()" ui-sref="app.people.contacts">
        <ion-nav-view name="feed">
          <ion-content>
            <div>{{ vm.contacts.length > 0 ? "Select one of the contacts below:" : "You have no contacts" }}</div>

            <ion-list ng-repeat="contact in vm.contacts | orderBy: '-createdAt'">
              <div class="item item-avatar item-button-right" ng-click="vm.showProfileOrOpenAddUserModal(contact)">
                <img ng-src="{{ contact.user ? contact.user.face : '' }}">
                <h2>{{ contact.displayName }}</h2>
                <div ng-if="contact.user">
                  <div>In Public As:</div>
                  <h2>{{ contact.user.name }}</h2>
                  <h2>{{ contact.user.username }}</h2>

                  <button class="button button-positive"
                      ng-click="vm.startListeningTo(contact.user, $event)"
                      ng-show="vm.showListenButton(contact.user)">Listen</button>

                  <button class="button button-energized"
                      ng-click="vm.stopListeningTo(contact.user, $event, this)"
                      ng-show="vm.showUnlistenButton(contact.user)">Unlisten</button>

                </div>
              </div>
            </ion-list>
          </ion-content>
        </ion-nave>
      </ion-tab>

    </ion-tabs>
  </ion-pane>

</ion-view>

