.navbar-app-public {
	text-transform: none !important;
	padding-left: 1em;
	font-size: 18px !important;
  	color: black !important;
  	font-weight: bold !important;
}

input.ng-dirty.ng-invalid {
   border: 1px solid #F00;
}