<ion-view view-title="Message">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">

        <img ng-src="{{ vm.message.author.face }}"  ng-click="vm.showProfile(vm.message.author, $event)">
        <div>
          <h2>
            <strong ng-click="vm.showProfile(vm.message.author, $event)">
              {{ vm.primaryName(vm.message.author)}}
            </strong>
            <span class="weak" ng-click="vm.showProfile(vm.message.author, $event)">
              {{ vm.paddedSecondaryName(vm.message.author) }}
            </span>
            said
            <br>
            <span ng-if="vm.message.author.id != vm.message.subject.id">
              to
              <strong ng-click="vm.showProfile(vm.message.subject, $event)">
                {{ vm.primaryName(vm.message.subject)}}
              </strong>
              <span class="weak" ng-click="vm.showProfile(vm.message.subject, $event)">
                {{ vm.paddedSecondaryName(vm.message.subject)}}
              </span>
            </span>
            <span class="message-created-at" am-time-ago="vm.message.createdAt"></span>
          </h2>
        </div>
      </div>

      <div class="item item-body">
        <p>
          <em long-message-with-profile-links="vm.message.text"></em>
          <!-- {{ vm.message.text }} -->
        </p>
        <!-- <p>
          <a href="#" class="subdued"><i class="fa fa-thumbs-up"></i> 1 Like</a>

          <a href="#" class="subdued"><i class="icon ion-chatbox"></i> 5 Comments</a>
        </p> -->
      </div>

    </div>


      <!-- <div>
        <a href="#">
          <i class="icon ion-thumbsup"></i>
          Up Vote
        </a>
        <a href="#">
          <i class="icon ion-thumbsdown"></i>
          Down Vote
        </a>
        <a href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div> -->

  </ion-content>
</ion-view>