<ion-view view-title="Message">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{ vm.message.author.face }}" ui-sref="app.profile({id: vm.message.author.userId})">
        <strong ui-sref="app.profile({id: vm.message.author.userId})">{{ vm.message.author.name }}</strong> said
        <span ng-if="vm.message.author.userId != vm.message.subject.userId">
          to <strong ui-sref="app.profile({id: vm.message.subject.userId})">{{ vm.message.subject.name || vm.message.subject.username }}</strong>
        </span>
        <span class="message-created-at" am-time-ago="vm.message.createdAt"></span>
      </div>

      <div class="item item-body">
        <p>
          <span ng-repeat="messagePart in vm.messageParts">
            <span ng-if="vm.linkUiSref(messagePart)" ui-sref="{{vm.linkUiSref(messagePart)}}">
              {{ vm.linkText(messagePart) }}
            </span>
            <span ng-if="!vm.linkUiSref(messagePart)">
              {{ messagePart }}
            </span>
          <span>
        </p>
        <!-- <p>
          <a href="#" class="subdued"><i class="fa fa-thumbs-up"></i> 1 Like</a>

          <a href="#" class="subdued"><i class="icon ion-chatbox"></i> 5 Comments</a>
        </p> -->
      </div>

    </div>

      <!-- <div>
        <a href="#">
          <i class="icon ion-thumbsup"></i>
          Up Vote
        </a>
        <a href="#">
          <i class="icon ion-thumbsdown"></i>
          Down Vote
        </a>
        <a href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div> -->

  </ion-content>
</ion-view>