<ion-view>
  <ion-nav-title>
    All Users
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-home" ng-click="vm.goHome()"></button>
  </ion-nav-buttons>


  <ion-content>
    <ion-list ng-repeat="user in vm.allUsers">
        <div class="item item-avatar item-button-right" ng-click="vm.showProfile(user)">
        <img ng-src="{{ user.face }}">
        <h2><a ng-href="/#/profile/{{ user.id }}/messages">{{ user.name }}</a></h2>
        <h2><a ng-href="/#/profile/{{ user.id }}/messages">{{ user.username }}</a></h2>


          <!-- <button style="width: 50px; font-size: 0.75em; padding: 2px; position: absolute; top: 16px; left: 250px;" class="button button-energized" -->

          <button style="width: 50px; font-size: 0.75em; padding: 2px; position: absolute; top: 16px; right: 70px;" class="button button-energized"
            ng-click="vm.mergeUserAfterConfirmation(user, $event)"
            ng-if="vm.signedIn() && vm.signedInUser().admin && !vm.viewingOwnProfile()">
            Merge
          </button>
          <button style="width: 50px; font-size: 0.75em; padding: 2px; position: absolute; top: 16px; right: 10px;" class="button button-assertive"
            ng-click="vm.removeUserAfterConfirmation(user, $event)"
            ng-if="vm.signedIn() && vm.signedInUser().admin && !vm.viewingOwnProfile()">
            Remove
          </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
